<a href="https://colab.research.google.com/github/Udaykiran06-art/PANDAS-METHODS/blob/main/PANDAS_METHOD_AND_SOME_EX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#accessing first five values from series
import pandas as pd
marks = [56,58,57,59,60,61,62,63,64,65]
s = pd.Series(marks)
print(s)
print(s.head())

0    56
1    58
2    57
3    59
4    60
5    61
6    62
7    63
8    64
9    65
dtype: int64
0    56
1    58
2    57
3    59
4    60
dtype: int64

In [ ]:
#accessing last five values from series
import pandas as pd
marks = [56,58,57,59,60,61,62,63,64,65]
s = pd.Series(marks)
print(s)
print(s.tail())

0    56
1    58
2    57
3    59
4    60
5    61
6    62
7    63
8    64
9    65
dtype: int64
5    61
6    62
7    63
8    64
9    65
dtype: int64

In [ ]:
#get the sum of series of values
import pandas as pd
marks = [10,20,30,40,50]
s = pd.Series(marks)
print(s.sum())
print(s.dtype)

150
int64

In [ ]:
#get the mean of series values
import pandas as pd
marks = [10,20,30,40,50]
s = pd.Series(marks)
print(s.mean())
print(s.dtype)

30.0
int64

In [ ]:
#creating a describe method
import pandas as pd
marks = [10,20,30,40,50]
s = pd.Series(marks)
print(s.describe())

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [ ]:
#get the unique values of series
import pandas as pd
marks = [10,20,30,40,50,10,10]
s = pd.Series(marks)
print(s.unique())

[10 20 30 40 50]

In [ ]:
#get the nunique of series
import pandas as pd
marks = [10,20,30,40,50,10,20]
s = pd.Series(marks)
print(s.nunique())

5

In [ ]:
#create a series of student scores and find minimum,maximum,average using series with attributes and methods
import pandas as pd
marks = [10,20,30,40,50]
s = pd.Series(marks)
print(s.mean())
print(s.max())
print(s.min())

30.0
50
10

In [ ]:
#creating a series with duplicate elements and check is_unique and duplicated()and sum()
import pandas as pd
import numpy as np
marks = [10,20,30,40,50,np.nan,60,np.nan]
s = pd.Series(marks)
print(s.is_unique)
print()
print(s.duplicated())
print()
print(s.sum())

False

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

210.0

In [ ]:
#creat a series with nan values
import pandas as pd
import numpy as np
marks = [10,20,30,40,50,np.nan,60,np.nan]
s = pd.Series(marks)
print(s.count())
print(s.size)

6
8

In [ ]:
#given a series s = pd.Series (['a','b',np.nan,'c',np.nan])
import pandas as pd
import numpy as np
s = pd.Series (['a','b',np.nan,'c',np.nan])
print(s.count())
print(s.size)
print(s.is_unique)
print(s.hasnans)
print(s.shape)

3
5
False
True
(5,)

In [ ]:
#creating a series from a dictionary and print index,values,dtype,nbytes,memory_usage(deep=true)
import pandas as pd
marks = {'a':10,'b':20,'c':30,'d':40,'e':50}
s = pd.Series(marks)
print(s)
print(s.index)
print(s.values)
print(s.dtype)
print(s.nbytes)
print(s.memory_usage(deep=True))

a    10
b    20
c    30
d    40
e    50
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[10 20 30 40 50]
int64
40
290

In [ ]:
#get the sum of series of values with nan values
import pandas as pd
import numpy as np
marks = [10,20,30,40,50,np.nan,60,np.nan]
s = pd.Series(marks)
print(s.sum())
print(s.dtype)

210.0
float64

In [ ]:
#get the number of non-NaN values
import pandas as pd
import numpy as np
marks = [10,20,30,40,50,np.nan,60,np.nan]
s = pd.Series(marks)
print(s)
print(s.count())

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5     NaN
6    60.0
7     NaN
dtype: float64
6